<fa-app>
  <fa-container-surface fa-options="{ properties: { color: '#333', background: '#fff' } }">
    <ui-view name="header"></ui-view>
    <fa-scroll-view fa-options="{ clipSize: 0, paginated: false, speedLimit: 5, direction: 1 }">
      <fa-view fa-pipe-from="$sidemenu.swipe">
        <fa-modifier
        fa-opacity="$page.opacity.get()"
        fa-translate="[$page.transform.get(), 0]"
        >
          <ui-view name="content"></ui-view>
        </fa-modifier>
      </fa-view>
    </fa-scroll-view>
    <ui-view name="footer"></ui-view>
  </fa-container-surface>
  <fa-modifier fa-translate="[0, 44]">
    <fa-modifier fa-align="[0, 1]" fa-origin="[1, 1]" fa-translate="[$sidemenu.transform.get() * ($sidemenu.size/100), 0]" fa-size="[$sidemenu.size, undefined]">
      <fa-container-surface fa-options="{ classes: ['sidemenu'] }">
        <fa-scroll-view fa-pipe-from="$sidemenu.eventHandler" fa-options="{ clipSize: 0, paginated: false, speedLimit: 5, direction: 1 }">
          <ui-view name="sidemenu"></ui-view>
        </fa-scroll-view>
      </fa-container-surface>
    </fa-modifier>
  </fa-modifier>
</fa-app>
