<fa-view>
<fa-modifier fa-translate="[0, 44]"><!-- has header, translate 44 to top -->
  <fa-surface fa-pipe-to="$sidemenu.swipe" fa-options="contentOptions">
    <h1>Dashboard</h1>
  </fa-surface>
</fa-modifier>
</fa-view>
