<fa-view ng-repeat="item in items">
  <fa-modifier fa-size="item.options.size||[undefined, 44]">
    <fa-surface fa-options="item.options" >
      <a ui-sref="{{item.uiSref}}" fa-pipe-to="$sidemenu.eventHandler" ng-bind="item.title"></a>
    </fa-surface>
  </fa-modifier>
</fa-view>
